<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>825649367741-fn88grq0gg964khctd2l1n6m24jcd8df.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.825649367741-fn88grq0gg964khctd2l1n6m24jcd8df</string>
	<key>API_KEY</key>
	<string>AIzaSyDhlnMdvzFqom9dNS4ddlWI7YeKCSFDN7k</string>
	<key>GCM_SENDER_ID</key>
	<string>825649367741</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>co.macca.flashChat</string>
	<key>PROJECT_ID</key>
	<string>flash-chat-b41b2</string>
	<key>STORAGE_BUCKET</key>
	<string>flash-chat-b41b2.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:825649367741:ios:5f25e83a7020976a1245d4</string>
</dict>
</plist>